<launch>
    <node name="map_traverser" pkg="wifi_localization" type="map_traverser" output="screen">
        <param name="p1_x" type="double" value="-6.2" />
        <param name="p1_y" type="double" value="7.37" />
        <param name="p2_x" type="double" value="-4.6" />
        <param name="p2_y" type="double" value="7.67" />
        <param name="p3_x" type="double" value="-5.0" />
        <param name="p3_y" type="double" value="0.0" />
        <param name="ordered" type="bool" value="true" />
    </node>
</launch>