<launch>
    <node name="wifi_data_collector" pkg="wifi_localization" type="wifi_data_collector" output="screen">
        <param name="threshold" type="double" value="0.1" />
        <param name="path_to_csv" type="string" value="/informatik2/students/home/2scholz/rosdata/wifi_data/25-08-2016 02:55:59" />
        <param name="record_only_stopped" type="bool" value="true" />
    </node>
</launch>