<launch>
    <node name="wifi_position_estimation" pkg="wifi_localization" type="wifi_position_estimation" output="screen">
        <param name="path_to_csv" type="string" value="/informatik2/students/home/2scholz/TAMS/pioneer3_misc/wifi_data/campus_full_subset" />
        <param name="n_particles" type="int" value="10000" />
        <param name="quality_threshold" type="double" value="1.0" />
        <param name="precompute" type="bool" value="true" />
        <param name="init_noise" type="double" value="2.3"/>
        <param name="init_var" type="double" value="2.3"/>
        <param name="init_l1" type="double" value="10.0"/>
        <param name="init_l2" type="double" value="10.0"/>
    </node>
</launch>
